/* Base Styles CSS Start */

/* Font */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}

ol,
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

.section-spacing {
  padding-top: 100px;
}

.section-title h2 {
  font-size: 38px;
  font-weight: 500;
  text-align: center;
  color: #122c60;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1240px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

/* Base Styles CSS End */

/* Header Part CSS Start */

/* Navigation Section CSS Start */

nav.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #ffffff;
  padding: 15px 0;
  z-index: 999;
}

.logo img {
  max-width: 200px;
  width: 100%;
}

.nav-link {
  font-size: 18px;
  text-transform: capitalize;
  color: #3d527b;
  padding: 12px 15px !important;
}

.nav-link.active {
  color: #3d527b !important;
}

.get-btn,
.get-btn:hover {
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  background: #122c60;
  margin-left: 20px;
  padding: 10px 15px !important;
  border-radius: 10px;
}

.sign-in-btn,
.sign-in-btn:hover {
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  background: #ff5c00;
  margin-left: 20px;
  padding: 10px 15px !important;
  border-radius: 10px;
}

.navbar-toggler {
  border: 0 !important;
  margin-top: -15px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

.toggler-icon {
  width: 25px;
  height: 2px;
  background-color: #e74c3c;
  display: block;
  transition: all 0.2s;
}

.middle-bar {
  margin: 5px auto;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .toggler-icon {
  background-color: #151515;
}

@media (max-width: 1200px) {
  .navbar-toggler:focus {
    box-shadow: none;
  }

  .nav-link {
    padding: 5px 0 !important;
  }

  .navbar-toggler {
    padding-top: 18px;
  }

  .navbar-nav {
    padding-top: 25px;
  }

  .get-btn {
    margin-left: 0;
    text-align: center;
  }

  .sign-in-btn {
    margin-left: 0;
    text-align: center;
    margin-top: 10px;
  }
}

/* Navigation Section CSS End */

/* Hero Section CSS Start */

.hero-wrapper {
  background: #ecf2fe;
  margin-top: 70px;
  padding-top: 100px;
}

.hero-content {
  max-width: 900px;
  width: 100%;
  margin: auto;
}

.hero-content h2 {
  font-size: 56px;
  font-weight: 500;
  line-height: 65px;
  text-align: center;
  color: #122c60;
}

.hero-content p {
  font-size: 25px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  color: #3d527b;
  padding-top: 10px;
}

.services-container {
  display: flex;
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 60px;
}

.service-card {
  width: 100%;
  text-align: center;
  background: #ffffff;
  padding: 15px 10px 10px;
  box-shadow: 6px 12px 11px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}

.service-card img {
  width: 40px;
  height: 50px;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 10px;
  display: flex;
}

.service-card h5 {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #122c60;
  margin-bottom: 0;
}

.get-started-btn a {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  background: #122c60;
  margin-left: 20px;
  padding: 10px 15px !important;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

/* Hero Section CSS End */

/* Header Part CSS End */

/* Main Part CSS Start */

/* Featured Section CSS Start */

.featured-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 80px;
}

.featured-card img {
  max-width: 90%;
  margin: auto;
}

/* Featured Section CSS End */

/* Record Section CSS Start */

.record-wrapper {
  padding: 60px 0;
  background: #fef2f4;
}

.record-img {
  background: #f38e74;
  padding: 20px;
  border-radius: 22px;
}

.record-img img {
  width: 100%;
  min-height: 470px;
  max-height: 470px;
  height: 100%;
  object-fit: cover;
  background: #ffffff;
  border-radius: 22px;
}

.record-tag span {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  background: #fa5267;
  padding: 10px 30px;
  border-radius: 10px;
}

.record-content h2 {
  font-size: 40px;
  font-weight: 500;
  color: #111111;
  padding: 25px 0 10px;
}

.record-content p {
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
  color: #6f6f6f;
}

/* Record Section CSS End */

/* Magic Section CSS Start */

.magic-wrapper {
  background: #fffbe5;
  padding: 60px 0;
}

.magic-img {
  background: #fbd20c;
  padding: 20px;
  border-radius: 22px;
}

.magic-img img {
  width: 100%;
  min-height: 470px;
  max-height: 470px;
  height: 100%;
  object-fit: cover;
  background: #ffffff;
  border-radius: 22px;
}

.magic-tag span {
  font-size: 18px;
  font-weight: 500;
  color: #1d1d1d;
  background: #fbd20c;
  padding: 10px 30px;
  border-radius: 10px;
}

.magic-content h2 {
  font-size: 40px;
  font-weight: 500;
  color: #111111;
  padding: 25px 0 10px;
}

.magic-content p {
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
  color: #6f6f6f;
}

/* Magic Section CSS End */

/* Customize Section CSS Start */

.customize-wrapper {
  background: #ecffff;
  padding: 60px 0;
}

.customize-img {
  background: #35d3d3;
  padding: 20px;
  border-radius: 22px;
}

.customize-img img {
  width: 100%;
  min-height: 470px;
  max-height: 470px;
  height: 100%;
  object-fit: cover;
  background: #ffffff;
  border-radius: 22px;
}

.customize-tag span {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  background: #35d3d3;
  padding: 10px 30px;
  border-radius: 10px;
}

.customize-content h2 {
  font-size: 40px;
  font-weight: 500;
  color: #111111;
  padding: 25px 0 10px;
}

.customize-content p {
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
  color: #6f6f6f;
}

/* Customize Section CSS End */

/* Works Section CSS Start */

.work-thumbnail {
  margin-top: 80px;
}

.work-thumbnail::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}

.work-thumbnail > img {
  width: 100%;
  min-height: 600px;
  max-height: 600px;
  object-fit: cover;
  border-radius: 30px;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* Works Section CSS End */

/* Form Section CSS Start */

.form-content h2 {
  font-weight: 500;
  font-size: 48px;
  line-height: 55px;
  color: #122c60;
  margin-bottom: 50px;
}

.form-btn a {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  background: #122c60;
  padding: 12px 18px !important;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

/* Form Section CSS End */

/* Main Part CSS End */

/* Footer Section CSS Start */

.footer-wrapper {
  padding-bottom: 60px;
}

.footer-info h4 {
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  color: #111111;
  margin-bottom: 30px;
}

.footer-images img {
  max-width: 20%;
  width: 100%;
  padding-right: 40px;
}

.footer-images2 img {
  padding-right: 40px;
}

.footer-menu h4 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: #111111;
  padding-bottom: 10px;
}

.footer-nav li {
  padding-bottom: 10px;
}

.footer-nav li a {
  font-size: 16px;
  color: #929292;
}

/* Footer Section CSS End */

/* ===========***===========
Landing Page CSS
===========***=========== */

.landing-hero-wrapper {
  padding-bottom: 80px;
}

.landing-hero-content h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 63px;
  color: #111111;
}

.landing-hero-content p {
  font-size: 25px;
  line-height: 35px;
  color: #6f6f6f;
}

.landing-hero-btn a {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  background: #ff5c00;
  padding: 13px 30px;
  border-radius: 10px;
}

.landing-hero-wrapper {
  margin-top: 70px;
  background: #fff7f7;
}

.landing-hero-image {
  background: url(../images/landing-page-hero-img-bg2.svg);
  background-repeat: no-repeat;
  padding-top: 60px;
}

.landing-hero-img-bg {
  max-width: 380px;
  width: 100%;
  min-height: 468px;
  max-height: 468px;
  height: 100%;
  object-fit: cover;
}

.landing-hero-img {
  position: absolute;
  top: 144px;
  left: 55%;
  transform: translateX(-53%);
}

.landing-hero-img-text h3 {
  font-size: 26px;
  font-weight: 700;
  line-height: 36px;
  color: #e45200;
  padding-bottom: 40px;
  text-align: center;
}

.landing-hero-img-text h3 {
  padding: 0 45px;
}

.fisrt-quote-icon {
  position: absolute;
  top: 0;
  left: 10px;
}

.down-arrow {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
}

/* Operations Section CSS Start */

.operations-cards {
  padding-top: 80px;
}

.operation-card h1 {
  font-size: 70px;
  font-weight: 500;
  line-height: 80px;
  color: #37d4d4;
  margin-bottom: 20px;
}

.operation-card h1.red {
  color: #ff5466;
}

.operation-card h1.purple {
  color: #7048ec;
}

.operation-card h3 {
  font-size: 30px;
  font-weight: 400;
  line-height: 42px;
  color: #122c60;
}

.operation-get-btn {
  padding-top: 100px;
  text-align: center;
}

.operation-get-btn a {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  background: #122c60;
  padding: 10px 15px !important;
  border-radius: 10px;
}

/* Operations Section CSS End */

/* Use Section CSS Start */

.use-wrapper {
  background: #f8f8f8;
  margin-top: 100px;
  padding-bottom: 60px;
}

.use-card-container {
  padding-top: 60px;
}

.use-card {
  width: 100%;
  height: 100%;
  padding: 25px;
  background: #ffffff;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.use-card-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
  border-radius: 100%;
}

.use-card-icon1 {
  background: #f0eefa;
}

.use-card-icon2 {
  background: #fdfae1;
}

.use-card-icon3 {
  background: #cbf5f4;
}

.use-card-icon4 {
  background: #ffe5e8;
}

.use-card-icon5 {
  background: #d6e3f6;
}

.use-card-content h5 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: #122c60;
}

.use-boost-card {
  width: 100%;
  height: 100%;
  padding: 25px;
  background: #f1effa;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.use-boost-card h4 {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  color: #122c60;
  margin-bottom: 30px;
}

.use-boost-card h4 span {
  color: #7456cf;
}

.use-boost-card a {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  background: #122c60;
  padding: 15px;
  border-radius: 10px;
}

/* Use Section CSS End */

/* Users Section CSS Start */

.users-wrapper {
  padding-bottom: 60px;
}

.users-slider {
  padding-top: 60px;
}

.owl-stage-outer {
  padding-top: 30px;
}

.owl-dots.disabled {
  display: block !important;
}

.user-card-title {
  background: #f9fafc;
  padding: 60px 20px 40px;
  border-radius: 20px;
}

.user-card-title h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: #122c60;
}

.user-card-img {
  position: relative;
  max-width: 64px;
  width: 64px;
  min-height: 64px;
  max-height: 64px;
  height: 100%;
  object-fit: cover;
  margin-left: 40px;
  margin-bottom: -30px;
  border-radius: 100%;
  z-index: 1;
}

.user-card-img::after {
  position: absolute;
  content: "";
  top: -11px;
  left: -11px;
  width: 85px;
  height: 85px;
  background: #ffe5e9;
  border-radius: 100%;
  z-index: -1;
}

.user-card-img2::after {
  background: #fcf8de;
}

.user-card-img3::after {
  background: #cbf5f4;
}

.user-card-title h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: #122c60;
  margin-bottom: 0;
}

.user-info p {
  font-size: 18px;
  text-align: center;
  color: #6e7e9e;
  padding-top: 15px;
}

.user-info p span {
  font-weight: 500;
  color: #122c60;
}

/* Users Section CSS End */

/* FAQ Section CSS Start */

.faq-wrapper {
  background: #f5f8ff;
}

.faq-container {
  padding: 80px 0 60px;
}

.accordion-item {
  background: #ffffff;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.05);
  margin-bottom: 25px;
  padding: 10px 0;
  border: none;
  border-radius: 10px !important;
}

.accordion-button {
  font-size: 22px;
  font-weight: 500;
  color: #111111;
  border: none;
  border-radius: 10px !important;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  background: none;
  border-bottom: 1px solid #d2d2d2;
  border-radius: 10px 10px 0 0 !important;
}

.accordion-body p {
  font-size: 18px;
  line-height: 25px;
  color: #7d7d7d;
  margin-bottom: 0;
}

/* FAQ Section CSS End */
